container_commands:
 01_syncdb:
  command: "./manage.py syncdb --noinput"
  leader_only: true
 02_createadmin:
  command: "scripts/createadmin.py"
  leader_only: true
 03_collectstatic:
  command: "./manage.py collectstatic --noinput"
 04_syncdb:
  command: "django-admin.py syncdb --noinput"
 05_syncdb:
  command: "python manage.py syncdb --noinput"
  
option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: twittube/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: twittube.settings
