container_commands:
 01_syncdb:
  command: "manage.py syncdb --noinput"
  leader_only: true
 02_createadmin:
  command: "scripts/createadmin.py"
  leader_only: true
 03_collectstatic:
  command: "manage.py collectstatic --noinput"
  
option_settings:
 "aws:elasticbeanstalk:container:python:environment":
  DJANGO_SETTINGS_MODULE: "myproject.settings"
 "aws:elasticbeanstalk:container:python":
  WSGIPath: "myproject/wsgi.py"
 "aws:elasticbeanstalk:container:python:staticfiles":
  "/static/": "static/"
